.navbar{

    position:sticky;

    top:0;

    z-index:100;

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 30px;

    box-shadow:0 2px 8px rgba(0,0,0,.06);

}

.navbar h2{

    margin:0;

}

.navbar p{

    margin-top:5px;
    color:gray;

}

.navbarRight{

    display:flex;
    align-items:center;
    gap:20px;

}

.weatherCard{

    display:flex;
    align-items:center;
    gap:12px;

    background:#e8f5e9;

    padding:10px 18px;

    border-radius:10px;

}

.weatherCard svg{

    color:orange;
    font-size:28px;

}

.notification{

    position:relative;
    font-size:24px;
    cursor:pointer;

}

.notification span{

    position:absolute;

    top:-8px;
    right:-8px;

    width:18px;
    height:18px;

    border-radius:50%;

    background:red;
    color:white;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:12px;

}

.profile{

    display:flex;
    align-items:center;
    gap:12px;

}

.profileIcon{

    font-size:48px;
    color:#1b5e20;

}

.profile p{

    margin:0;
    font-size:13px;

}