.buyerSidebar{
    width:250px;
    min-height:100vh;
    background:#1b5e20;
    color:white;
    position:fixed;
    left:0;
    top:0;
    padding:30px 20px;
}

.logo{
    text-align:center;
    margin-bottom:40px;
}

.buyerSidebar nav{
    display:flex;
    flex-direction:column;
}

.buyerSidebar a{
    color:white;
    text-decoration:none;
    padding:14px 18px;
    margin-bottom:10px;
    border-radius:8px;
    transition:.3s;
}

.buyerSidebar a:hover{
    background:#2e7d32;
}

.buyerSidebar a.active{
    background:white;
    color:#1b5e20;
    font-weight:bold;
}
